In [1]:
import csv
import sqlite3
import numpy as np
hot_pot_name = ['大呼過癮', '雞湯大叔', '富樂']
Store = [('12345678',20,4.5,'大呼過癮'), ('23456789',30,5,'雞湯大叔'), ('34567891',1,1,'富樂')]

In [2]:
with open('schema.sql') as f:
    create_db_sql = f.read()

In [3]:
#建立 test.db 並把 table 的 schema 匯入進去
db = sqlite3.connect('test.db')
with db: 
    db.executescript(create_db_sql)

In [4]:
for i in hot_pot_name:
    with db:
        db.execute(
         'INSERT INTO  Hot_pot (Brand) VALUES (?)',
         (i,))

In [5]:
with db:
    db.executemany(
    'INSERT INTO  Store (Phonenumber, Comment_num, Avg_rating, Brand) VALUES (?, ?, ?, ?)',
    Store)

In [118]:
# with db:
#     c = db.execute('SELECT * FROM Hot_pot')
with db:
    c = db.execute('SELECT * FROM Store')

In [119]:
for row in c:
    print(row)

('12345678', 20, 4.5, '大呼過癮')
('23456789', 30, 5.0, '雞湯大叔')
('34567891', 1, 1.0, '富樂')

In [113]:
with db:
    c = db.execute('SELECT * FROM Hot_pot')

In [115]:
for i in c:
    print(i)

('大呼過癮',)
('雞湯大叔',)
('富樂',)

In [7]:
a = [(1,2),(3,4,5)]

In [8]:
for i in a:
    for j in i:
        print(j)

1
2
3
4
5